.navbar{
    background-color: burlywood;
   
}

.titlelogo {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px;
    background-color: brown;
    border-radius: 10px;
    padding: 10px 10px;
}


